@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'swiper/css/pagination';
@import 'swiper/css';

@layer base {
  body {
    font-family: 'Press Start 2P', cursive;
    overflow-x: hidden;
  }

  header {
    @apply text-center lg:text-left;
  }

  section {
    @apply text-center lg:text-left;
  }

  .roadmap-box {
    box-shadow: 10px 10px 0px #000000;
  }

  .roadmap-box-up {
    box-shadow: 20px 15px 0px #000000;
  }
}

.swiper-pagination-bullet {
  @apply bg-primary my-6;
}

body::-webkit-scrollbar {
  @apply w-3;
}

body::-webkit-scrollbar-thumb {
  @apply bg-neutral-800 border-2 border-neutral-700;
}

body::-webkit-scrollbar-track {
  @apply bg-neutral-700;
}
